.modal {
    position: absolute;
    left: 100px;
    top: 100px;
}

.container {
    padding: 30px;
    background: cornflowerblue;
}

.button {
    padding: 40px;
    border-radius: 5px;
    border: 2px solid deepskyblue;
    background: darkblue;
    color: white;
}